<h1 class="text-center">Listing all articles</h1>
<div class="container ">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <% @articles.each do |article|%>
                <div class="card text-center mt-4">
                <div class="card-header text-italic">
                    By Vikash Gupta
                </div>
                <div class="card-body">
                    <h5 class="card-title text-success"><%= article.title%></h5>
                    <p class="card-text"><%= article.description%></p>
                    <%= link_to "Create", new_article_path, class: "btn btn-outline-success"%>
                    <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info"%>
                    <%= link_to "Delete", articles_path, class: "btn btn-outline-danger"%>
                </div>
                <div class="card-footer text-muted">
                    <small>
                        Created <%= time_ago_in_words(article.created_at)%> ago,
                        Edited <%= time_ago_in_words(article.created_at) %> ago
                    </small>
                </div>
                </div>
            <%end%>
        </div>
    </div>
</div>